
.table-view {
	-fx-border-width:0.0 0 0 0.0 ;
    -fx-base: black;
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-padding: 0;
  
     
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color:#2E303D ;
   -fx-size:55px;
    -fx-border-width:0.0 0.0 1 0;
    -fx-border-color:#20232D;
}

.table-row-cell {
    -fx-cell-size: 55px;
}
.table-column {
  -fx-alignment: CENTER;
}
.table-row-cell:selected{
    -fx-background-color:#f5f5f5;
   
    
}

.table-view .table-row-cell {
	
    -fx-background-color:white;
    -fx-border-width:0 0 1 0;
    -fx-border-color:#E0E0E0;
   
}
.table-view .table-row-cell:hover{
	-fx-background-color:#f5f5f5;
	
}
.table-view .table-row-cell:active{
	-fx-background-color:#f5f5f5;
}
.table-view .table-column{
	 -fx-border-width: 0;
	
}
.table-row-cell:empty {
	 
    -fx-background-color: white;
     -fx-border-color:red;
}
 
.table-row-cell:empty .table-cell {
	 -fx-border-width: 0px;
   
}
