
*{
	/*defining the color variable*/
	-fx-sidebar: #202225;
	-fx-infobar: #2F3136;
	-fx-mainbar: #36393F;
	-fx-mainColor:#2196F3;
	
	
}
.sidebar{
	-fx-background-color:-fx-mainbar;
}
.table-view {
	-fx-border-width:0.0 0 0 0.0 ;
    -fx-base: -fx-infobar;
    -fx-control-inner-background: -fx-infobar;
    -fx-background-color: -fx-infobar;
    -fx-padding: 0;
  
     
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color:-fx-mainColor ;
   -fx-size:55px;
    -fx-border-width:0.0 0.0 0 0;
    -fx-border-color:#20232D;
}

.table-row-cell {
    -fx-cell-size: 55px;
}
.table-column {
  -fx-alignment: CENTER;
}
.table-row-cell:selected{
   /*-fx-background-color:#f5f5f5;*/
   
    
}

.table-view .table-row-cell {
	
    /*-fx-background-color:red;*/
    -fx-border-width:0 0 0 0;
    -fx-border-color:#E0E0E0;
   
}
.table-view .table-row-cell:hover{
	/*-fx-background-color:#f5f5f5;*/
	
}
.table-view .table-row-cell:active{
	-fx-background-color:red;
}
.table-view .table-column{
	 -fx-border-width: 0;
	
}
.table-row-cell:empty {
	 
    -fx-background-color: #36393F;
     -fx-border-color:#36393F;
}
 
.table-row-cell:empty .table-cell {
	 -fx-border-width:0 0 0 0;
   
}
.buttonBlue{
	-fx-background-color:-fx-mainColor;
	-fx-text-fill:white;
	-fx-font-size:18px;
}
